<script lang="ts">
    import { openDirectory } from "../../stores";
    import { sep } from "@tauri-apps/api/path";
    import ExplorerTreeView from "./ExplorerTreeView.svelte";

    let folderName: string;
    let expanded: boolean = false;

    const toggleExpanded = () => (expanded = !expanded);

    $: {
        let length = $openDirectory.length;
        let first = $openDirectory[0];
        if (length > 0 && first.path) {
            folderName = $openDirectory[0].path.split(sep).reverse()[1];
        } else {
            folderName = "";
        }
    }
</script>

<div
    class="inset-y-0 left-0 flex-none p-2 overflow-x-hidden overflow-y-scroll font-sans bg-gray-200 border-r border-gray-300 w-80"
>
    <div
        on:click={toggleExpanded}
        class="flex flex-row items-center px-2 cursor-pointer transition-colors hover:bg-gray-100"
    >
        {#if folderName}
            {#if !expanded}
                <i class="fa-solid fa-folder" />
            {:else}
                <i class="fa-regular fa-folder-open" />
            {/if}
            <span class="px-1">
                {folderName}
            </span>
        {/if}
    </div>
    {#if expanded}
        <div>
            {#each $openDirectory as element}
                <ExplorerTreeView main={element} />
            {/each}
        </div>
    {/if}
</div>
