<script context="module">
    import { writable } from "svelte/store";
    const _expansionState = {};
    const _selectedState = writable("");
</script>

<script lang="ts">
    import { FileEntry, readTextFile } from "@tauri-apps/api/fs";
    import {
        currentlyOpenFileContents,
        currentlyOpenFileName,
    } from "../../stores";
    export let main: FileEntry;

    $: name = main.name;
    $: children = main.children?.sort((a, b) =>
        a.children !== undefined && b.children !== undefined
            ? 0
            : a.children !== undefined
            ? -1
            : 1
    );
    $: path = main.path;

    let expanded = _expansionState[name] || false;

    const toggleExpansion = () => {
        expanded = _expansionState[name] = !expanded;
        $_selectedState = name;
    };

    async function openFile() {
        $_selectedState = name;
        $currentlyOpenFileName = name;
        $currentlyOpenFileContents = await readTextFile(path);
    }
</script>

<ul class="flex flex-col pl-4 overflow-x-hidden align-text-center">
    {#if children}
        <div
            on:click={toggleExpansion}
            class:hover:bg-gray-100={$_selectedState !== name}
            class="flex flex-row items-center pl-2 border-l-2 border-black cursor-pointer border-opacity-10 transition-colors hover:bg-gray-100"
        >
            {#if !expanded}
                <i class="fa-solid fa-folder" />
            {:else}
                <i class="fa-regular fa-folder-open" />
            {/if}
            <span class="pl-2">
                {name}
            </span>
        </div>
        {#if expanded}
            {#each children as child}
                <svelte:self main={child} />
            {/each}
        {/if}
    {:else}
        <div
            on:click={openFile}
            class:bg-blue-100={$_selectedState === name}
            class:hover:bg-gray-100={$_selectedState !== name}
            class="flex flex-row items-center pl-2 border-l-2 border-black cursor-pointer border-opacity-10 transition-colors"
        >
            <i class="fa-regular fa-file" />
            <span class="pl-2">
                {name}
            </span>
        </div>
    {/if}
</ul>
