<script lang="ts">
    export let label: string;
    export let id: string;
</script>

<div class="relative inline-block text-left">
    <button
        {id}
        on:blur
        on:click
        class="h-8 px-2 transition-colors hover:bg-gray-100 focus:bg-gray-100"
        >{label}</button
    >

    <div
        id={`${id}-menu`}
        tabindex="0"
        class="absolute left-0 w-56 px-2 bg-white divide-y"
    >
        <slot />
    </div>
</div>
