<script lang="ts">
    import FileButton from "./menu-buttons/FileButton.svelte";
    import EditButton from "./menu-buttons/EditButton.svelte";
    import ViewButton from "./menu-buttons/ViewButton.svelte";
    import HelpButton from "./menu-buttons/HelpButton.svelte";
</script>

<div class="relative flex flex-row items-center">
    <FileButton />
    <EditButton />
    <ViewButton />
    <HelpButton />
</div>
