<script lang="ts">
    import Menu from "./Menu.svelte";
    import { appWindow } from "@tauri-apps/api/window";
    import { operatingSystem } from "../../stores";

    async function onClose() {
        await appWindow.close();
        let isMaximized = await appWindow.isMaximized();
        if (isMaximized) {
            await appWindow.toggleMaximize();
        }
    }

    async function onMaximize() {
        let isMaximized = await appWindow.isMaximized();
        if (!isMaximized) {
            await appWindow.toggleMaximize();
        }
    }

    async function onMinimize() {
        await appWindow.toggleMaximize();
    }
</script>

<div
    id="titlebar"
    class="fixed top-0 z-10 flex flex-row w-screen h-8 font-sans bg-gray-200 border-b border-gray-300"
>
    {#if $operatingSystem !== "MacOS"}
        <Menu />
    {/if}
    <div
        data-tauri-drag-region
        id="titlebar-title"
        class="flex items-center justify-center grow"
    >
        Radon
    </div>
    <div class="flex items-center">
        <div
            id="titlebar-minimize"
            on:click={onMinimize}
            class="flex items-center justify-center w-8 h-8 transition-colors hover:bg-gray-100"
        >
            <i class="las la-lg la-minus" />
        </div>
        <div
            id="titlebar-maximize"
            on:click={onMaximize}
            class="flex items-center justify-center w-8 h-8 transition-colors hover:bg-gray-100"
        >
            <i class="las la-lg la-stop" />
        </div>
        <div
            id="titlebar-close"
            on:click={onClose}
            class="flex items-center justify-center w-8 h-8 transition-colors hover:text-red-500 hover:bg-red-200"
        >
            <i class="las la-lg la-times" />
        </div>
    </div>
</div>
