<script lang="ts">
    import { getVersion, getTauriVersion } from "@tauri-apps/api/app";
</script>

<div
    on:click
    class="fixed left-0 right-0 flex flex-col items-center w-2/4 p-4 m-auto bg-white border border-black top-1/2 h-content drop-shadow-lg"
>
    <h2>About</h2>
    <p class="text-center">
        Radon is an editor built using tauri and Svelte. It also makes use of
        tailwindcss for styling. Thank you for using this code editor!
    </p>
    <p>
        <span>Radon Version:</span>
        <span>
            {#await getVersion() then version}
                {version}
            {/await}
        </span>
    </p>
    <p>
        <span>tauri Version:</span>
        <span>
            {#await getTauriVersion() then version}
                {version}
            {/await}
        </span>
    </p>

    <div>
        <button
            class="px-2 py-1 bg-gray-200 hover:bg-gray-100 transition-colors"
            >Close</button
        >
    </div>
</div>
