<script context="module">
    import { readable } from "svelte/store";

    export const time = readable(new Date(), function start(set) {
        const interval = setInterval(() => {
            set(new Date());
        }, 1000);

        return function stop() {
            clearInterval(interval);
        };
    });
</script>

<script lang="ts">
    import {
        currentLanguage,
        currentlyOpenFileName,
        operatingSystem,
    } from "../stores";
    let fileExtension: string;

    const hour12Formatter = new Intl.DateTimeFormat("en", {
        hour12: true,
        hour: "numeric",
        minute: "2-digit",
        second: "2-digit",
    });

    const hour24Formatter = new Intl.DateTimeFormat("en", {
        hour12: false,
        hour: "numeric",
        minute: "2-digit",
        second: "2-digit",
    });

    const timezone = new Intl.DateTimeFormat("en", {
        timeZone: "UTC",
    });

    let formatters: Intl.DateTimeFormat[] = [hour12Formatter, hour24Formatter];
    let index = 0;
    let timeHover = false;

    const toggleTimeFormat = () => {
        index++;
        index %= formatters.length;
    };

    const timeEnter = () => (timeHover = true);
    const timeLeave = () => (timeHover = false);
</script>

<div
    class="fixed inset-x-0 bottom-0 flex flex-row justify-between font-sans bg-gray-200 border-t border-gray-300 resize-y"
>
    <div id="statusbar-left" class="flex flex-row">
        <span class="px-2 text-green-900 bg-green-400 select-none">NORMAL</span>
        <span class="px-2 select-none">{$currentlyOpenFileName}</span>
    </div>
    <div class="select-none grow" />
    <div class="px-2 select-none">
        {#if $currentLanguage === undefined}
            Unknown
        {:else}
            {$currentLanguage}
        {/if}
    </div>
    <span class="text-gray-400 select-none"> &bull; </span>
    <div class="px-2 select-none">
        {$operatingSystem}
    </div>
    <span class="text-gray-400 select-none"> &bull; </span>
    <div
        title=""
        on:click={toggleTimeFormat}
        on:mouseenter={timeEnter}
        on:mouseleave={timeLeave}
        id="statusbar-right"
        class="px-2 cursor-pointer select-none has-tooltiop"
    >
        {#if timeHover}
            <span
                class="absolute right-0 px-2 py-1 bg-blue-200 rounded select-none -mt-9"
                >{timezone.format($time)}</span
            >
        {/if}
        {formatters[index].format($time)}
    </div>
</div>
