<script lang="ts">
    import Explorer from "./components/explorer/Explorer.svelte";
    import Statusbar from "./components/Statusbar.svelte";
    import Titlebar from "./components/titlebar/Titlebar.svelte";
    import About from "./components/About.svelte";
    import {
        currentlyOpenFileContents,
        showAbout,
        operatingSystem,
        openDirectory,
    } from "./stores";
    import { open } from "@tauri-apps/api/dialog";
    import { appWindow } from "@tauri-apps/api/window";
    import { onDestroy, onMount } from "svelte";
    import { platform } from "@tauri-apps/api/os";
    import { readDirectory } from "./titlebarMenuUtils";
    import { closeEditor, closeFolder } from "./titlebarMenuUtils";

    let menuUnlisten: any;

    function handleKeydown(event: any) {
        let a = event.ctrlKey + event.key;
        console.log(a);
    }

    function closeAbout() {
        $showAbout = false;
    }

    onMount(async () => {
        let os = await platform();
        if (os !== "darwin") {
            appWindow.setDecorations(false);
        }

        menuUnlisten = appWindow.listen("tauri://menu", async (event) => {
            if (event.payload === "about") {
                $showAbout = true;
            } else if (event.payload === "open-folder") {
                let res = await open({ multiple: false, directory: true });
                $openDirectory = await readDirectory(res.toString(), true);
            } else if (event.payload === "close-editor") {
                closeEditor();
            } else if (event.payload === "close-folder") {
                closeFolder();
            }
        });
    });

    onDestroy(async () => {
        menuUnlisten();
    });
</script>

<!-- TODO: https://svelte.dev/repl/acd92c9726634ec7b3d8f5f759824d15?version=3.48.0 -->
<svelte:window on:keydown={handleKeydown} />

{#if $showAbout}
    <About on:click={closeAbout} />
{/if}

<main class="flex flex-col">
    {#if $operatingSystem !== "MacOS"}
        <Titlebar />
    {/if}
    <div
        class:top-0={$operatingSystem === "MacOS"}
        class:top-8={$operatingSystem !== "MacOS"}
        class="fixed flex flex-row w-screen bottom-6"
    >
        <Explorer />
        <div class="flex flex-col items-center grow">
            <textarea class="w-full h-full font-code"
                >{$currentlyOpenFileContents}</textarea
            >
        </div>
    </div>
    <Statusbar />
</main>
