<script lang="ts">
    import SubmenuOption from "../SubmenuOption.svelte";
    import MenuButton from "../MenuButton.svelte";

    let clicked: boolean = false;

    const onClicked = () => (clicked = !clicked);

    async function onCopy() {
        // TODO: write selected text to clipboard
        // blurButton();
        // await writeText($selectedText);
    }

    async function onPaste() {
        // TODO: paste clipboard contents to somewhere
        // blurButton();
        // $pasteContents = await readText();
    }

    function onBlur(event: FocusEvent) {
        if (event.relatedTarget) {
            let id = (event.relatedTarget as HTMLDivElement).id;
            if (id === "edit-button-menu") {
                document.getElementById("edit-button").focus();
            } else {
                clicked = false;
            }
        } else {
            clicked = false;
        }
    }

    const blurButton = () => {
        document.getElementById("edit-button").blur();
    };
</script>

<MenuButton id="edit-button" on:blur={onBlur} on:click={onClicked} label="Edit">
    <slot>
        {#if clicked}
            <div class="flex flex-col py-1">
                <SubmenuOption on:click={onCopy}>Copy</SubmenuOption>
                <SubmenuOption on:click={onPaste}>Paste</SubmenuOption>
            </div>
        {/if}
    </slot>
</MenuButton>
