<script lang="ts">
    import SubmenuOption from "../SubmenuOption.svelte";
    import MenuButton from "../MenuButton.svelte";
    import { openDirectory } from "../../../stores";
    import { appWindow } from "@tauri-apps/api/window";
    import { open } from "@tauri-apps/api/dialog";
    import { readDirectory } from "../../../titlebarMenuUtils";
    import { closeEditor, closeFolder } from "../../../titlebarMenuUtils";

    let clicked: boolean = false;

    const onClicked = () => (clicked = !clicked);

    function onNewFile() {}

    function onCloseEditor() {
        blurButton();
        clicked = false;
        closeEditor();
    }

    function onCloseFolder() {
        blurButton();
        clicked = false;
        closeFolder();
    }

    async function onCloseWindow() {
        await appWindow.close();
    }

    function onBlur(event: FocusEvent) {
        if (event.relatedTarget) {
            let id = (event.relatedTarget as HTMLDivElement).id;
            if (id === "file-button-menu") {
                document.getElementById("file-button").focus();
            } else {
                clicked = false;
            }
        } else {
            clicked = false;
        }
    }

    const blurButton = () => {
        document.getElementById("file-button").blur();
    };

    async function onOpenFolder() {
        blurButton();
        clicked = false;
        let res = await open({ multiple: false, directory: true });
        $openDirectory = await readDirectory(res.toString(), true);
    }
</script>

<MenuButton id="file-button" on:blur={onBlur} on:click={onClicked} label="File">
    <slot>
        {#if clicked}
            <div class="flex flex-col py-1">
                <SubmenuOption on:click={onNewFile}>New File</SubmenuOption>
            </div>
            <div class="flex flex-col py-1">
                <SubmenuOption on:click={onOpenFolder}
                    >Open Folder</SubmenuOption
                >
            </div>
            <div class="flex flex-col py-1">
                <SubmenuOption on:click={onCloseEditor}
                    >Close Editor</SubmenuOption
                >
                <SubmenuOption on:click={onCloseFolder}
                    >Close Folder</SubmenuOption
                >
                <SubmenuOption on:click={onCloseWindow}
                    >Close Window</SubmenuOption
                >
            </div>
        {/if}
    </slot>
</MenuButton>
