<script lang="ts">
    import MenuButton from "../MenuButton.svelte";
    import SubmenuOption from "../SubmenuOption.svelte";
    import { showAbout } from "../../../stores";

    let clicked: boolean = false;

    const onClicked = () => (clicked = !clicked);

    function onAbout() {
        blurButton();
        clicked = false;
        $showAbout = true;
    }

    function onBlur(event: FocusEvent) {
        if (event.relatedTarget) {
            let id = (event.relatedTarget as HTMLDivElement).id;
            if (id === "help-button-menu") {
                document.getElementById("file-button").focus();
            } else {
                clicked = false;
            }
        } else {
            clicked = false;
        }
    }

    const blurButton = () => {
        document.getElementById("help-button").blur();
    };
</script>

<MenuButton id="help-button" on:blur={onBlur} on:click={onClicked} label="Help">
    <slot>
        {#if clicked}
            <div class="flex flex-col py-1">
                <SubmenuOption on:click={onAbout}>About</SubmenuOption>
            </div>
        {/if}
    </slot>
</MenuButton>
