<script lang="ts">
    import MenuButton from "../MenuButton.svelte";
    import SubmenuOption from "../SubmenuOption.svelte";

    let clicked: boolean = false;

    const onClicked = () => (clicked = !clicked);

    function onBlur(event: FocusEvent) {
        if (event.relatedTarget) {
            let id = (event.relatedTarget as HTMLDivElement).id;
            if (id === "view-button-menu") {
                document.getElementById("view-button").focus();
            } else {
                clicked = false;
            }
        } else {
            clicked = false;
        }
    }

    const blurButton = () => {
        document.getElementById("edit-button").blur();
    };
</script>

<MenuButton id="view-button" on:blur={onBlur} on:click={onClicked} label="View">
    <slot>
        {#if clicked}
            <!--
            <div class="flex flex-col py-1">
                <TitlebarMenuOption on:click={onNewFile}
                    >New File</TitlebarMenuOption
                >
            </div>
            <div class="flex flex-col py-1">
                <TitlebarMenuOption on:click={onOpenFolder}
                    >Open Folder</TitlebarMenuOption
                >
            </div>
            <div class="flex flex-col py-1">
                <TitlebarMenuOption on:click={onOpenFolder}
                    >Close Editor</TitlebarMenuOption
                >
                <TitlebarMenuOption on:click={onOpenFolder}
                    >Close Folder</TitlebarMenuOption
                >
                <TitlebarMenuOption on:click={onOpenFolder}
                    >Close Window</TitlebarMenuOption
                >
                </div>-->
        {/if}
    </slot>
</MenuButton>
